* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(250, 250, 250);
}

header {
    /*background-color: rgb(255, 255, 255);*/
    color: #44c00aa9;
    padding: 15px;
}

.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.head h1, .head p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.head p {
    color: #71a05ccc;
    font-size: 0.90rem;
}

.regis a {
    margin-left: 10px;
    padding: 10px 15px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: #133D00;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}

.regis a:hover {
    background-color: #4ace0e;
    color: black;
}

.busqueda input[type="search"] {
    border: 1px solid #3f881d;
    padding: 10px 50px;
    border-radius: 10px 0 0 10px;
}

.busqueda input[type="button"] {
    background-color: #133D00;
    color:rgb(250, 250, 250);
    border: 1px solid #3f881d;
    padding: 10px 10px;
    border-radius: 0 10px 10px 0;
    transition: background-color 0.3s ease;
}

.router {
    margin-top: 5px;
    padding: 20px;
}

.router ol {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

li {
    padding: 5px 10px;
    list-style: none;
    border-bottom: 3px solid;
    transition: background-color 0.3s ease;
}

a {
    text-decoration: none;
    color: #3f881d;
}
a:hover{
    color: #133D00;
}
li:hover {
    
    background-color: #72a05c;
}

#contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: rgb(48, 48, 48,0.1);
}

.head-card {
    color: #4ace0e;
    align-items: center;
    width: 250px;
    transition: all 0.3s ease;
}

.body-card h2 {
    margin: 0 5px 5px 0;
    font-size: 1rem;
}

.body-card p {
    text-align: justify;
    color: rgb(48, 48, 48);
    font-size: .90em;
}

.body-card {
    margin: 10px;
}

.body-card img {
    width: 100%;
}

.head-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.452);
}

.hero{
    display: flex;
    margin: 0px 80px 10px;
    align-content: center;
}

.hero-text{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text h1,h3{
    margin: 0 5px;
}
.hero-text h3{
    margin-top: 5px;
}
.hero-text h3{
    color: #799e68ce;
}
.hero-text p{
    margin: 0 5px;
    text-align: justify;
    color: rgb(48, 48, 48);
}
.hero-text a{
    color: rgb(250, 250, 250);
    margin-top: 20px;
    text-align: center;
    padding: 10px 20px;
    background-color: #72a05c;
    border-radius: 20px;
}
.hero-image{
    object-fit: contain;
    padding: 10px;
    margin: 5px;
}
.hero-image img{
    height: 500px;
}
.footer-card {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-card h2 {
    color: #000000f1;
}

.footer-card button {
    text-align: center;
    color: rgb(250, 250, 250);
    background-color: #3f881d;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.footer-card button:hover {
    color: rgb(0, 0, 0);
    background-color: #72a05c;
    transform: scale(1.05);
}

.banner-img{
    object-fit: contain;
}

.banner-img img{
    height: 100%;
}
footer{
    height: 300px;
    background-color: #72a05c;
}


/* details*/
#comentario{
    margin: 15px 30px;
}
#comentario div{
    padding: 10px 0;
}

details {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  background: #fff;
  transition: all 0.3s ease;
}

details[open] {
  background: #fff8e1;
}

summary {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "▶";
  transition: transform 0.3s ease;
}

details[open] summary::after {
  transform: rotate(90deg);
}
